@import url("https://fonts.googleapis.com/css2?family=Alata&family=Archivo+Black&family=Quattrocento+Sans&display=swap");
.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0000005e;
  color: #ffffff; }

.logo {
  display: flex;
  align-items: center;
  margin-right: 2vh;
  font-family: "Alata", sans-serif;
  font-size: 1.1px; }

.logo h3 {
  font-size: 1rem; }

.digitalistLogo {
  max-width: 22vw;
  height: 3.5vh;
  margin: 2vh; }

.searchAndMenu {
  margin: 0 2vh 0 1vh;
  display: flex;
  align-items: center; }

.menu {
  margin-top: 7vh; }

.menuIcon {
  cursor: pointer; }

.menuOpen {
  margin-top: 4vh; }

.menuWide {
  margin-left: 1vh;
  cursor: pointer; }

.searchIcons {
  cursor: pointer; }

.searchIcons:hover {
  transform: rotate(10deg); }

.alert {
  width: 60%;
  margin: 3vh auto; }

.searchBarOut {
  background-color: #ffffff;
  border-radius: 50px;
  outline: none;
  height: 5vh;
  padding-left: 2vh;
  outline: none;
  border: none;
  animation: 0.5s ease-in out;
  width: 40vw;
  overflow: hidden;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

.searchBarIn {
  background-color: #ffffff;
  border-radius: 50px;
  outline: none;
  height: 2vh;
  padding-left: 2vh;
  outline: none;
  border: none;
  animation: 0.5s ease-in in;
  width: 0;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700; }

.searchBarOutLg {
  background-color: #ffffff;
  border-radius: 50px;
  outline: none;
  height: 5vh;
  padding-left: 2vh;
  outline: none;
  border: none;
  animation: 0.5s ease-in outLg;
  width: 30vw;
  overflow: hidden;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

.searchBarInLg {
  background-color: #ffffff;
  border-radius: 50px;
  outline: none;
  height: 2vh;
  padding-left: 2vh;
  outline: none;
  border: none;
  animation: 0.5s ease-in inLg;
  width: 0;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700; }

.inputCont {
  width: 100%;
  display: flex;
  justify-content: end; }

@keyframes out {
  0% {
    width: 0;
    height: 2vh; }
  100% {
    width: 40vw; } }

@keyframes in {
  0% {
    width: 40vw;
    height: 5vh; }
  100% {
    width: 0%; } }

@keyframes outLg {
  0% {
    width: 0;
    height: 2vh; }
  100% {
    width: 27vw; } }

@keyframes inLg {
  0% {
    width: 27vw;
    height: 5vh; }
  100% {
    width: 0%; } }

.logoText {
  font-size: 1rem;
  margin: 0; }

.logoTextLg {
  font-size: 1.5rem;
  margin: 0; }

.hamburger_wrapper {
  margin-right: 2vh; }

#hamburger {
  width: 100%;
  height: 1.7vw;
  position: relative;
  cursor: pointer;
  outline: none;
  margin: 12px; }

#hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .5s ease-in-out; }

#hamburger span:nth-child(1) {
  top: 0px;
  transform-origin: left center; }

#hamburger span:nth-child(2) {
  top: 8px;
  transform-origin: left center; }

#hamburger span:nth-child(3) {
  top: 17px;
  transform-origin: left center; }

#hamburger.close span:nth-child(1) {
  transform: rotate(45deg); }

#hamburger.close span:nth-child(2) {
  width: 0%;
  opacity: 0;
  transition: .1s; }

#hamburger.close span:nth-child(3) {
  transform: rotate(-45deg); }
