@import url('https://fonts.googleapis.com/css2?family=Alata&family=Archivo+Black&family=Quattrocento+Sans&display=swap');

$primary_white: #ffffff;
$primary_opacity: rgba(0, 0, 0, 0.612);
$second_opacity: #000000d4;
$primary_font: 'Quattrocento Sans',
sans-serif;

.readMore {
    background-color: rgba(0, 0, 0, 0.564);
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    color: $primary_white;
    display: inline-grid;
    align-items: center;
    background-color: $primary_opacity;
    left: 0;
}

.readMoreWide {
    max-width: 66vh;
    color: $primary_white;
    display: inline-grid;
    background-color: $second_opacity;
    border-radius: 16px;
}

.readMore h3,
.readMoreWide h3 {
    text-align: center;
    font-family: $primary_font;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.readMore p,
.readMoreWide p {
    margin: 0 6vh;
    font-family: $primary_font;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 140%;
}